/* destination */
.title{
    text-align: center;
}
.destination{
    padding-top: 50px;
    padding-bottom: 50px;
}
.my-card{
    width: 350px !important;
    margin-top: 30px !important;
}
/* packages */
.packages{
    padding-top: 50px;
    padding-bottom: 50px;
}
.packages-bg{
    background-color: rgb(202, 202, 202);
}
/* mobile media query */
@media (max-width: 770px){
    .my-card{
        width: auto;
    }
}


.Searchbox{
    text-align: center;
}